@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/avenirnextcyr-ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
