@import url("./font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: rgba(65, 65, 65, 1);
}

.mainWrapper {
  width: 100%;
  max-width: 1440px;
  /* height: 600vh; */
  margin: 0 auto;
  overflow: hidden;
  background: rgba(26, 26, 26, 1);
  border-radius: 100px 100px 0 0;
}

.mobMenu {
  width: 100%;
  background: rgb(6, 9, 18);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 111;
  transition: all 0.4s ease;
  transform: translateX(100%);
}

.visibleMobMenu {
  transition: all 0.4s ease;
  transform: translateX(0);
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 40px;
}

.navWrapper a img {
  width: 100%;
  max-width: 221px;
  height: auto;
}

.navMenu {
  width: 100%;
  max-width: 726px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.navMenu a {
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #f2ece7;
  -webkit-text-stroke: 1px rgba(26, 26, 26, 1);
}

.navMenu a:hover {
  color: rgba(221, 255, 83, 1);
}

.mobMenuBtn {
  display: none;
}

.navWrapperButton {
  padding: 6px 16px;
  border-radius: 50px;
  background: rgba(221, 255, 83, 1);
  font-family: Avenir Next Cyr;
  font-weight: 750;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 1);
  border: none;
  transition: all 0.4s ease;
}

.navWrapperButton:hover {
  opacity: 0.6;
}

.mobMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  gap: 30px;
}

.mobMenuExit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobMenuExit a img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.visibleMobMenu .navMenu {
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.visibleMobMenu .navMenu a {
  font-size: 18px;
}

.aboutProjectWrapper {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

.aboutPrHeader {
  width: 100%;
  padding: 40px 0 0 0;
  border-radius: 60px;
  background: rgba(221, 255, 83, 1);
}

.aboutPrHeaderTitle {
  font-family: "Avenir Next Cyr";
  font-weight: 750;
  font-size: clamp(30px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 110%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.aboutPrHeaderBodyLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(20px, calc(70 / 14.4 * 1vw), 70px);
  border-radius: 0 0 0 50px;
  overflow: hidden;
}

.aboutPrHeaderBodyLeft > img {
  width: 100%;
  max-width: clamp(100px, calc(235 / 14.4 * 1vw), 235px);
  height: auto;
}

.aboutPrHeaderTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.aboutPrHeaderBodyLeftRate {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aboutPrHeaderBodyLeftRate > p {
  max-width: 595px;
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.aboutPrHeaderBodyLeftStar {
  display: flex;
  gap: calc(80 / 14.4 * 1vw);
}

.aboutPrHeaderBodyLeftStars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutPrHeaderBodyLeftStarsPinkText {
  font-family: "Avenir Next Cyr";
  font-weight: 750;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(219, 121, 226, 1);
  -webkit-text-stroke: 1.2px rgba(26, 26, 26, 1);
}

.aboutPrHeaderBodyLeftStars div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aboutPrHeaderBodyLeftStars div img {
  width: 100%;
  max-width: 56px;
  height: auto;
}

.aboutPrHeaderBodyLeftUserPurpose {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) {
  display: flex;
  align-items: center;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
  width: 56px;
  aspect-ratio: 1/1;
}

.userToLeft {
  margin-left: -28px;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
  width: 100%;
  max-width: 140px;
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 1);
}

.aboutPrHeaderBodyLeftWrapper {
  width: 100%;
  max-width: 950px;
}

.aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
  text-align: end;
}

.aboutPrHeaderBody {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(10px, calc(30 / 14.4 * 1vw), 50px);
  position: relative;
}

.phoneWrapper {
  width: 100%;
  max-width: clamp(200px, calc(370 / 14.4 * 1vw), 370px);
  aspect-ratio: 3/6;
  background: url(/images/aboutPhone.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -300px;
}

.downloadFrom {
  width: 100%;
  padding: 40px 0;
  background: url(/images/aboutBg1.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  margin-bottom: clamp(20px, calc(40 / 7 * 1vw), 40px);
}

.downloadFromPatfrom {
  width: 100%;
  max-width: clamp(300px, calc(890 / 14.4 * 1vw), 890px);
  display: flex;
  align-items: center;
  gap: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
  flex-wrap: wrap;
  padding-left: clamp(15px, calc(40 / 14.4 * 1vw), 40px);
}

.downloadFromPatfrom a img {
  width: 100%;
  max-width: clamp(135px, calc(270 / 14.4 * 1vw), 270px);
  height: auto;
}

.downloadFromBody {
  margin-top: clamp(20px, calc(80 / 14.4 * 1vw), 80px);
  display: flex;
  align-items: center;
  gap: clamp(50px, calc(100 / 14.4 * 1vw), 100px);
  padding-right: 20px;
}

.downloadFromImg {
  width: 100%;
  max-width: clamp(200px, calc(500 / 14.4 * 1vw), 500px);
  aspect-ratio: 1/2;
  background: url(/images/aboutPhone2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 90%;
}

.downloadFromBodyText > p {
  width: 100%;
  max-width: 885px;
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: clamp(16px, calc(60 / 14.4 * 1vw), 60px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(253, 234, 107, 1);
}

.downloadFromBodyText > p > span:nth-child(1) {
  color: rgba(159, 216, 229, 1);
}

.downloadFromBodyText > p > span:nth-child(2) {
  color: #f2ece7;
}

.downloadFromBodyText > div {
  width: 100%;
  margin-top: clamp(20px, calc(80 / 14.4 * 1vw), 80px);
}

.downloadFromBodyText > div > p {
  width: 100%;
  max-width: 587px;
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: clamp(10px, calc(28 / 14.4 * 1vw), 28px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
  margin-left: auto;
}

.downloadFromBodyText > div > p {
  width: 100%;
  max-width: 587px;
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: clamp(10px, calc(28 / 14.4 * 1vw), 28px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
  margin-left: auto;
}

@media only screen and (max-width: 1300px) {
  .aboutPrHeaderBodyLeftStar {
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(30 / 14.4 * 1vw);
  }
}

@media only screen and (max-width: 1100px) {
  .navMenu a {
    font-size: 16px;
    font-weight: 600;
  }
  .navWrapper button {
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
  }
  .aboutPrHeaderBodyLeftRate {
    gap: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .aboutPrHeaderBodyLeftRate > p {
    font-weight: 600;
    font-size: 20px;
  }
  .aboutPrHeaderBodyLeftStars div img {
    max-width: 36px;
  }

  .aboutPrHeaderBodyLeft > img {
    max-width: 180px;
  }
  .aboutPrHeaderBodyLeft {
    margin-top: 0;
  }

  .aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
    margin-left: 0;
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
    width: 30px;
    aspect-ratio: 1/1;
  }

  .userToLeft {
    margin-left: -15px;
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
    font-size: 10px;
  }

  .downloadFromBodyText > p {
    width: 100%;
    max-width: 600px;
    font-weight: 700;
    font-size: clamp(16px, calc(50 / 14.4 * 1vw), 50px);
  }

  .downloadFromBodyText > div {
    margin-top: clamp(20px, calc(50 / 14.4 * 1vw), 50px);
  }

  .downloadFromBodyText > div > p {
    width: 100%;
    max-width: 450px;
    font-family: "Avenir Next Cyr";
    font-size: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
  }
}

@media only screen and (max-width: 900px) {
  .navMenu {
    gap: 5px;
  }
  .navMenu a {
    font-size: 14px;
    font-weight: 500;
  }

  .navWrapper button {
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
  }
}

@media only screen and (max-width: 700px) {
  .mainWrapper {
    border-radius: 0;
  }

  .navWrapper {
    padding: 20px 20px;
  }

  .navWrapper .navMenu {
    display: none;
  }

  .navWrapper button {
    display: none;
  }

  .mobMenuBtn {
    display: flex;
  }

  .navWrapper {
    gap: 100px;
    justify-content: space-between;
  }

  .aboutPrHeaderBodyLeft {
    align-items: flex-start;
    flex-direction: column-reverse;
    border-radius: 0 0 0 calc(50 / 7 * 1vw);
  }

  .aboutPrHeaderBody > div > img {
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: -300px;
    right: 20px;
    z-index: 0;
  }

  .aboutPrHeaderBodyLeftStar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: calc(70 / 7 * 1vw);
    flex-wrap: nowrap;
  }

  .phoneWrapper {
    max-width: calc(270 / 7 * 1vw);
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  .aboutPrHeaderBodyLeft > img {
    max-width: calc(200 / 7 * 1vw);
  }

  .aboutPrHeaderTitle {
    font-weight: 600;
    font-size: calc(90 / 7 * 1vw);
    text-align: justify;
    padding: 0 10px;
  }

  .aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
    text-align: start;
  }

  .aboutPrHeader {
    padding: 10px 0 0 0;
  }

  .aboutPrHeaderBodyLeftRate {
    padding: 0 10px;
  }

  .phoneWrapper {
    margin-bottom: calc(-300 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftStarsPinkText {
    font-weight: 500;
    font-size: calc(20 / 7 * 1vw);
    letter-spacing: calc(1 / 7 * 1vw);
    -webkit-text-stroke: calc(1.2 / 7 * 1vw) rgba(26, 26, 26, 1);
  }

  .aboutPrHeaderBodyLeftStars div {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .aboutPrHeaderBodyLeftStars div img {
    width: 100%;
    max-width: calc(40 / 7 * 1vw);
    height: auto;
  }

  .aboutPrHeaderBodyLeftUserPurpose {
    gap: calc(10 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
    width: calc(40 / 7 * 1vw);
  }

  .userToLeft {
    margin-left: calc(-20 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
    font-weight: 500;
    font-size: calc(14 / 7 * 1vw);
    letter-spacing: calc(1 / 7 * 1vw);
  }

  .aboutPrHeader {
    border-radius: calc(60 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftRate > p {
    font-weight: 400;
    font-size: calc(24 / 7 * 1vw);
    line-height: 140%;
    letter-spacing: calc(1 / 7 * 1vw);
  }

  .downloadFromPatfrom {
    gap: 10px;
    padding-left: clamp(10px, calc(20 / 7 * 1vw), 20px);
    flex-direction: column;
    align-items: flex-start;
  }

  .downloadFrom {
    padding: 0 20px;
  }

  .downloadFromPatfrom a img {
    width: 100%;
    max-width: calc(270 / 7 * 1vw);
    height: auto;
  }

  .downloadFrom {
    background-position: center;
    background-size: 120%;
  }

  .downloadFromBody {
    flex-direction: column;
    gap: 0;
  }
  .downloadFromImg {
    max-width: calc(370 / 7 * 1vw);
  }

  .downloadFromBodyText > p {
    max-width: 100%;
    font-family: "Avenir Next Cyr";
    font-size: clamp(16px, calc(40 / 7 * 1vw), 40px);
  }

  .downloadFromBodyText > div > p {
    max-width: 100%;
    font-size: calc(22 / 7 * 1vw);
    text-align: right;
  }
}
