@import url("./font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: rgba(26, 26, 26, 1);
  font-family: "Avenir Next Cyr";
}

.mainWrapper {
  width: 100%;
  max-width: 1440px;
  /* height: 1000vh; */
  margin: 0 auto;
  overflow: hidden;
  background: rgba(26, 26, 26, 1);
  border-radius: 100px 100px 0 0;
}

.mobMenu {
  width: 100%;
  background: rgb(6, 9, 18);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 111;
  transition: all 0.4s ease;
  transform: translateX(100%);
}

.visibleMobMenu {
  transition: all 0.4s ease;
  transform: translateX(0);
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 40px;
}

.navWrapper a img {
  width: 100%;
  max-width: 221px;
  height: auto;
}

.navMenu {
  width: 100%;
  max-width: 726px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.navMenu a {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #f2ece7;
  -webkit-text-stroke: 1px rgba(26, 26, 26, 1);
}

.navMenu a:hover {
  color: rgba(221, 255, 83, 1);
}

.mobMenuBtn {
  display: none;
}

.navWrapperButton {
  padding: 6px 16px;
  border-radius: 50px;
  background: rgba(221, 255, 83, 1);
  font-family: Avenir Next Cyr;
  font-weight: 750;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 1);
  border: none;
  transition: all 0.4s ease;
}

.navWrapperButton:hover {
  opacity: 0.6;
}

.mobMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  gap: 30px;
}

.mobMenuExit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobMenuExit a img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.visibleMobMenu .navMenu {
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.visibleMobMenu .navMenu a {
  font-size: 18px;
}

.aboutProjectWrapper {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

.aboutPrHeader {
  width: 100%;
  padding: 40px 0 0 0;
  border-radius: 60px;
  background: rgba(221, 255, 83, 1);
}

.aboutPrHeaderTitle {
  font-weight: 750;
  font-size: clamp(30px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 110%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.aboutPrHeaderBodyLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(20px, calc(70 / 14.4 * 1vw), 70px);
  border-radius: 0 0 0 50px;
  overflow: hidden;
}

.aboutPrHeaderBodyLeft > img {
  width: 100%;
  max-width: clamp(100px, calc(235 / 14.4 * 1vw), 235px);
  height: auto;
}

.aboutPrHeaderTitleWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.aboutPrHeaderBodyLeftRate {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.aboutPrHeaderBodyLeftRate > p {
  max-width: 595px;

  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.aboutPrHeaderBodyLeftStar {
  display: flex;
  gap: calc(80 / 14.4 * 1vw);
}

.aboutPrHeaderBodyLeftStars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.aboutPrHeaderBodyLeftStarsPinkText {
  font-weight: 750;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(219, 121, 226, 1);
  -webkit-text-stroke: 1.2px rgba(26, 26, 26, 1);
}

.aboutPrHeaderBodyLeftStars div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aboutPrHeaderBodyLeftStars div img {
  width: 100%;
  max-width: 56px;
  height: auto;
}

.aboutPrHeaderBodyLeftUserPurpose {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) {
  display: flex;
  align-items: center;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
  width: 56px;
  aspect-ratio: 1/1;
}

.userToLeft {
  margin-left: -28px;
}

.aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
  width: 100%;
  max-width: 140px;

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(26, 26, 26, 1);
}

.aboutPrHeaderBodyLeftWrapper {
  width: 100%;
  max-width: 950px;
}

.aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
  text-align: end;
}

.aboutPrHeaderBody {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: clamp(10px, calc(30 / 14.4 * 1vw), 50px);
  position: relative;
}

.phoneWrapper {
  width: 100%;
  max-width: clamp(200px, calc(370 / 14.4 * 1vw), 370px);
  aspect-ratio: 3/6;
  background: url(/images/aboutPhone.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -300px;
}

.downloadFrom {
  width: 100%;
  padding: 40px 0;
  background: url(/images/aboutBg1.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  margin-bottom: clamp(20px, calc(40 / 7 * 1vw), 40px);
}

.downloadFromPatfrom {
  width: 100%;
  max-width: clamp(300px, calc(890 / 14.4 * 1vw), 890px);
  display: flex;
  align-items: center;
  gap: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
  flex-wrap: wrap;
  padding-left: clamp(15px, calc(40 / 14.4 * 1vw), 40px);
}

.downloadFromPatfrom a img {
  width: 100%;
  max-width: clamp(135px, calc(270 / 14.4 * 1vw), 270px);
  height: auto;
}

.downloadFromBody {
  margin-top: clamp(20px, calc(80 / 14.4 * 1vw), 80px);
  display: flex;
  align-items: center;
  gap: clamp(50px, calc(100 / 14.4 * 1vw), 100px);
  padding-right: 20px;
}

.downloadFromImg {
  width: 100%;
  max-width: clamp(200px, calc(500 / 14.4 * 1vw), 500px);
  aspect-ratio: 1/2;
  background: url(/images/aboutPhone2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 90%;
}

.downloadFromBodyText > p {
  width: 100%;
  max-width: 885px;

  font-weight: 700;
  font-size: clamp(16px, calc(60 / 14.4 * 1vw), 60px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(253, 234, 107, 1);
}

.downloadFromBodyText > p > span:nth-child(1) {
  color: rgba(159, 216, 229, 1);
}

.downloadFromBodyText > p > span:nth-child(2) {
  color: #f2ece7;
}

.downloadFromBodyText > div {
  width: 100%;
  margin-top: clamp(20px, calc(80 / 14.4 * 1vw), 80px);
}

.downloadFromBodyText > div > p {
  width: 100%;
  max-width: 587px;

  font-weight: 700;
  font-size: clamp(10px, calc(28 / 14.4 * 1vw), 28px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
  margin-left: auto;
}

.downloadFromBodyText > div > p {
  width: 100%;
  max-width: 587px;

  font-weight: 700;
  font-size: clamp(10px, calc(28 / 14.4 * 1vw), 28px);
  line-height: 140%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
  margin-left: auto;
}

.invationInStudyWrapper {
  width: 100%;
  padding-top: clamp(40px, calc(120 / 14.4 * 1vw), 120px);
  padding-left: clamp(10px, calc(40 / 14.4 * 1vw), 40px);
  padding-bottom: clamp(60px, calc(120 / 14.4 * 1vw), 120px);
  background: url(/images/inovationInStudyMainBg.webp),
    url(/images/invovationInStyleBg1.webp),
    url(/images/invovationInStyleBg2.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%, clamp(183px, calc(370 / 14.4 * 1vw), 370px) auto,
    clamp(170px, calc(300 / 14.4 * 1vw), 300px) auto;
  background-position: top left, top right, bottom left;
  border-radius: clamp(20px, calc(60 / 14.4 * 1vw), 60px);
}

.invationInStudyWrapperTitle > p {
  font-weight: 750;
  font-size: clamp(40px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
}

.invationInStudyWrapperTitleBody {
  width: 100%;
  display: flex;
  align-items: center;
  gap: clamp(21px, calc(80 / 14.4 * 1vw), 80px);
  margin-top: -70px;
}

.invationInStudyWrapperTitleBody p {
  width: 100%;
  max-width: 408px;

  font-weight: 700;
  font-size: clamp(12px, calc(24 / 14.4 * 1vw), 24px);
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
}

.invationInStudyWrapperTitleBody img {
  width: 100%;
  max-width: clamp(280px, calc(871 / 14.4 * 1vw), 871px);
  height: auto;
}

.invationInStudyWrapperCards {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: clamp(20px, calc(80 / 14.4 * 1vw), 80px);
  padding-right: clamp(10px, calc(40 / 14.4 * 1vw), 40px);
}

.invationInStudyWrapperCards > .cardItem {
  width: 100%;
  max-width: clamp(200px, calc(440 / 14.4 * 1vw), 440px);
  height: auto;
  position: relative;
  z-index: 0;
}

.invationInStudyWrapperCards > img:nth-child(4),
.invationInStudyWrapperCards > img:nth-child(7) {
  margin-left: clamp(-5px, calc(-10 / 14.4 * 1vw), -10px);
}

.connector {
  width: 100%;
  max-width: clamp(20px, calc(40 / 14.4 * 1vw), 40px);
  position: relative;
  z-index: 1;
  margin-left: clamp(-5px, calc(-10 / 14.4 * 1vw), -10px);
}

.connectorGorizoltal {
  display: none;
}

.invationInStudyWrapperDesc {
  width: 100%;
  margin-top: clamp(40px, calc(85 / 14.4 * 1vw), 85px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: clamp(10px, calc(40 / 14.4 * 1vw), 40px);
}

.invationInStudyWrapperDescItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: clamp(20px, calc(100 / 14.4 * 1vw), 100px);
  justify-content: space-between;
}

.invationInStudyWrapperDescItem img {
  width: 100%;
  max-width: clamp(200px, calc(440 / 14.4 * 1vw), 440px);
  height: auto;
}

.invationInStudyWrapperDescItem p {
  width: 100%;
  max-width: clamp(300px, calc(820 / 14.4 * 1vw), 820px);

  font-weight: 700;
  font-size: clamp(20px, calc(32 / 14.4 * 1vw), 32px);
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
}
.invationInStudyWrapperDescItem p span {
  color: rgba(221, 255, 83, 1);
}

.invationInStudyWrapperDescItem2 {
  flex-direction: row-reverse;
}

.ourProgram {
  width: 100%;
  margin-top: clamp(40px, calc(100 / 14.4 * 1vw), 100px);
  padding: 0 clamp(10px, calc(40 / 14.4 * 1vw), 40px);
}

.ourProgramTitle p {
  font-weight: 750;
  font-size: clamp(40px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ourProgramTitleTop::before {
  content: "Специальное";
  color: rgba(219, 121, 226, 1);
}

.ourProgramTitleBottom::before {
  content: "предложение";
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
  float: right;
}

.ourProgramBody {
  width: 100%;
  display: flex;
  align-items: center;
  gap: clamp(20px, calc(60 / 14.4 * 1vw), 60px);
  justify-content: space-between;
}

.ourProgramBodyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: clamp(20px, calc(40 / 14.4 * 1vw), 40px);
}

.ourProgramBodyBox img {
  width: 100%;
  max-width: clamp(200px, calc(400 / 14.4 * 1vw), 400px);
  height: auto;
}

.ourProgramBodyBox button {
  width: 100%;
  max-width: clamp(200px, calc(420 / 14.4 * 1vw), 420px);
  aspect-ratio: 420/112;
  border-radius: clamp(70px, calc(100 / 14.4 * 1vw), 100px);
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.ourProgramBodyBox button:hover {
  opacity: 0.6;
}

.ourProgramBodyBox:nth-child(1) button {
  background: url(/images/ourProgramBodyBoxButton1.webp);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.ourProgramBodyBox:nth-child(2) button {
  background: url(/images/ourProgramBodyBoxButton2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ourProgramBodyBox:nth-child(3) button {
  background: url(/images/ourProgramBodyBoxButton3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.telegramChanel {
  width: 100%;
  margin-top: clamp(40px, calc(100 / 14.4 * 1vw), 100px);
  padding: 0 clamp(10px, calc(40 / 14.4 * 1vw), 40px);
}

.telegramChanelTitle {
  font-weight: 750;
  font-size: clamp(48px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.telegramChanelTitle > span:nth-child(1) {
  color: rgba(143, 167, 223, 1);
}

.telegramChanelTitle > span:nth-child(2) {
  color: #1a1a1a;
  -webkit-text-stroke: clamp(2px, calc(3 / 14.4 * 1vw), 3px) #f2ece7;
}

.telegramChanelDesc {
  margin: clamp(30px, calc(80 / 14.4 * 1vw), 80px) 0;
  width: 100%;
  max-width: clamp(190px, calc(572 / 14.4 * 1vw), 572px);

  font-weight: 700;
  font-size: clamp(12px, calc(24 / 14.4 * 1vw), 24px);
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
}

.telegramChanelBody {
  width: 100%;
  padding: clamp(40px, calc(60 / 14.4 * 1vw), 60px) 0 0
    clamp(20px, calc(40 / 14.4 * 1vw), 40px);
  position: relative;
  border: 1px solid rgba(242, 236, 231, 0.2);
  border-radius: clamp(20px, calc(30 / 14.4 * 1vw), 30px);
  background: linear-gradient(0deg, #1a1a1a, #1a1a1a),
    linear-gradient(0deg, rgba(242, 236, 231, 0.1), rgba(242, 236, 231, 0.1));
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25) inset;
  background: #302f2f;
}

.telegramChanelBodyTop {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.telegramChanelBodyTop > img {
  width: 100%;
  max-width: clamp(154px, calc(300 / 14.4 * 1vw), 300px);
  height: auto;
  margin-top: clamp(-300px, calc(-300 / 14.4 * 1vw), -100px);
  margin-right: clamp(-50px, calc(-50 / 14.4 * 1vw), -20px);
}

.telegramChanelBodyLeft {
  width: 100%;
  max-width: clamp(260px, calc(1050 / 14.4 * 1vw), 1050px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.telegramChanelBodyLeftText {
  font-weight: 700;
  font-size: clamp(16px, calc(32 / 14.4 * 1vw), 32px);
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
}

.telegramChanelBodyLeftText span {
  color: rgba(221, 255, 83, 1);
  -webkit-text-stroke: 0;
}

.telegramChanelBodyBottom {
  width: 100%;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.telegramChanelBodyBottom button {
  width: 100%;
  max-width: clamp(271px, calc(515 / 14.4 * 1vw), 515px);
  aspect-ratio: 515/88;
  border-radius: 100px;
  background: url(/images/telegramChanelButtonBg.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: all 0.4s ease;
  margin-bottom: clamp(-46px, calc(-44 / 14.4 * 1vw), -26px);
}

.telegramChanelBodyBottom button:hover {
  opacity: 0.6;
}

.telegramChanel {
  margin-bottom: 50px;
}

.sectionCarouselsWrapper {
  margin-top: clamp(40px, calc(100 / 14.4 * 1vw), 100px);
  position: relative;
}

.sectionCarouselsWrapper > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carouselBgAnimation {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(15px, calc(30 / 14.4 * 1vw), 30px);
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carouselaToRight {
  direction: rtl;
  display: flex;
}

.group {
  display: flex;
  gap: clamp(10px, calc(30 / 14.4 * 1vw), 30px);
  flex-shrink: 0;
  max-width: 100%;
  will-change: transform;
  padding-right: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
}

.card {
  width: 320px;
  aspect-ratio: 320/180;
  overflow: hidden;
}

.card img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.blogWrapper {
  width: 100%;
  margin-top: clamp(40px, calc(100 / 14.4 * 1vw), 100px);
  padding: 0 clamp(10px, calc(40 / 14.4 * 1vw), 40px);
}

.blogHeader {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, calc(40 / 14.4 * 1vw), 40px);
  margin-bottom: clamp(20px, calc(40 / 14.4 * 1vw));
}

.blogHeaderTitle {
  font-family: "Avenir Next Cyr";
  font-weight: 750;
  font-size: clamp(48px, calc(128 / 14.4 * 1vw), 128px);
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1a1a1a;
  -webkit-text-stroke: clamp(2px, calc(4 / 14.4 * 1vw), 4px) #f2ece7;
}

.blogDesk {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.blogDesk p {
  width: 100%;
  max-width: clamp(253px, calc(480 / 14.4 * 1vw), 480px);
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: clamp(12px, calc(24 / 14.4 * 1vw), 24px);
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(242, 236, 231, 0.6);
}

.toBlogLink {
  font-family: "Avenir Next Cyr";
  font-weight: 700;
  font-size: clamp(20px, calc(32 / 14.4 * 1vw), 32px);
  line-height: 150%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
  transition: all 0.4s ease;
}

.toBlogLink:hover {
  opacity: 0.6;
}

.blogCarousel {
  width: 100%;
  margin-top: clamp(20px, calc(40 / 14.4 * 1vw), 40px);
}

.blogBoxWrapper {
  width: 100%;
  max-width: clamp(223px, calc(580 / 14.4 * 1vw), 580px);
  height: auto;
  padding: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 20px;
  transition: all 0.4s ease;
  border: 1px solid #1a1a1a;
  cursor: pointer;
}

.blogBoxWrapper:hover {
  border: 1px solid rgba(242, 236, 231, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.25) inset;
  background: #302f2f;
}

.blogBoxWrapper:hover .blogBoxImg > img:last-child {
  display: flex;
}

.blogBoxImg {
  width: 100%;
  position: relative;
}

.blogBoxImg > img:first-child {
  width: 100%;
  height: auto;
}

.blogBoxImg > img:last-child {
  width: 100%;
  max-width: clamp(50px, calc(101 / 14.4 * 1vw), 101px);
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  display: none;
}

.blogBoxImg > img:last-child:hover {
  opacity: 0.6;
}

.blogBoxText > p {
  font-family: "Avenir Next Cyr";
  font-weight: 450;
  letter-spacing: 1px;
}

.blogBoxText {
  width: 100%;
}

.blogBoxText > p:first-child {
  font-size: clamp(20px, calc(40 / 14.4 * 1vw), 40px);
  line-height: clamp(28px, calc(48 / 14.4 * 1vw), 48px);
  color: #f2ece7;
  -webkit-text-stroke: 1px #1a1a1a;
}

.blogBoxText > p:last-child {
  margin-top: 16px;
  font-size: clamp(14px, calc(32 / 14.4 * 1vw), 32px);
  line-height: clamp(18px, calc(40 / 14.4 * 1vw), 40px);
  color: rgba(242, 236, 231, 0.6);
  -webkit-text-stroke: 1px #1a1a1a;
}

.toBlogLinkSecond {
  float: right;
  margin-top: 20px;
  display: none;
}

@media only screen and (max-width: 1300px) {
  .aboutPrHeaderBodyLeftStar {
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(30 / 14.4 * 1vw);
  }
}

@media only screen and (max-width: 1100px) {
  .navMenu a {
    font-size: 16px;
    font-weight: 600;
  }
  .navWrapper button {
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 152%;
  }
  .aboutPrHeaderBodyLeftRate {
    gap: 20px;
  }

  .invationInStudyWrapperTitleBody {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 1000px) {
  .aboutPrHeaderBodyLeftRate > p {
    font-weight: 600;
    font-size: 20px;
  }
  .aboutPrHeaderBodyLeftStars div img {
    max-width: 36px;
  }

  .aboutPrHeaderBodyLeft > img {
    max-width: 180px;
  }
  .aboutPrHeaderBodyLeft {
    margin-top: 0;
  }

  .aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
    margin-left: 0;
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
    width: 30px;
    aspect-ratio: 1/1;
  }

  .userToLeft {
    margin-left: -15px;
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
    font-size: 10px;
  }

  .downloadFromBodyText > p {
    width: 100%;
    max-width: 600px;
    font-weight: 700;
    font-size: clamp(16px, calc(50 / 14.4 * 1vw), 50px);
  }

  .downloadFromBodyText > div {
    margin-top: clamp(20px, calc(50 / 14.4 * 1vw), 50px);
  }

  .downloadFromBodyText > div > p {
    width: 100%;
    max-width: 450px;

    font-size: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
  }

  .invationInStudyWrapperTitleBody {
    margin-top: -40px;
  }

  .blogBoxWrapper {
    width: 100%;
    max-width: clamp(223px, calc(580 / 10 * 1vw), 580px);
    height: auto;
    padding: clamp(10px, calc(20 / 14.4 * 1vw), 20px);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@media only screen and (max-width: 900px) {
  .navMenu {
    gap: 5px;
  }
  .navMenu a {
    font-size: 14px;
    font-weight: 500;
  }

  .navWrapper button {
    padding: 3px 10px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
  }
}

@media only screen and (max-width: 700px) {
  .mainWrapper {
    border-radius: 0;
  }

  .navWrapper {
    padding: 20px 20px;
  }

  .navWrapper .navMenu {
    display: none;
  }

  .navWrapper button {
    display: none;
  }

  .mobMenuBtn {
    display: flex;
  }

  .navWrapper {
    gap: 100px;
    justify-content: space-between;
  }

  .aboutPrHeaderBodyLeft {
    align-items: flex-start;
    flex-direction: column-reverse;
    border-radius: 0 0 0 calc(50 / 7 * 1vw);
  }

  .aboutPrHeaderBody > div > img {
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: -300px;
    right: 20px;
    z-index: 0;
  }

  .aboutPrHeaderBodyLeftStar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: calc(70 / 7 * 1vw);
    flex-wrap: nowrap;
  }

  .phoneWrapper {
    max-width: calc(270 / 7 * 1vw);
    position: absolute;
    right: 20px;
    bottom: 0;
  }

  .aboutPrHeaderBodyLeft > img {
    max-width: calc(200 / 7 * 1vw);
  }

  .aboutPrHeaderTitle {
    font-weight: 600;
    font-size: calc(90 / 7 * 1vw);
    text-align: justify;
    padding: 0 10px;
  }

  .aboutPrHeaderBodyLeftWrapper > .aboutPrHeaderTitle {
    text-align: start;
  }

  .aboutPrHeader {
    padding: 10px 0 0 0;
  }

  .aboutPrHeaderBodyLeftRate {
    padding: 0 10px;
  }

  .phoneWrapper {
    margin-bottom: calc(-300 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftStarsPinkText {
    font-weight: 500;
    font-size: calc(20 / 7 * 1vw);
    letter-spacing: calc(1 / 7 * 1vw);
    -webkit-text-stroke: calc(1.2 / 7 * 1vw) rgba(26, 26, 26, 1);
  }

  .aboutPrHeaderBodyLeftStars div {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .aboutPrHeaderBodyLeftStars div img {
    width: 100%;
    max-width: calc(40 / 7 * 1vw);
    height: auto;
  }

  .aboutPrHeaderBodyLeftUserPurpose {
    gap: calc(10 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(1) img {
    width: calc(40 / 7 * 1vw);
  }

  .userToLeft {
    margin-left: calc(-20 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftUserPurpose div:nth-child(2) p:nth-child(2) {
    font-weight: 500;
    font-size: calc(14 / 7 * 1vw);
    letter-spacing: calc(1 / 7 * 1vw);
  }

  .aboutPrHeader {
    border-radius: calc(60 / 7 * 1vw);
  }

  .aboutPrHeaderBodyLeftRate > p {
    font-weight: 400;
    font-size: calc(24 / 7 * 1vw);
    line-height: 140%;
    letter-spacing: calc(1 / 7 * 1vw);
  }

  .downloadFromPatfrom {
    gap: 10px;
    padding-left: clamp(10px, calc(20 / 7 * 1vw), 20px);
    flex-direction: column;
    align-items: flex-start;
  }

  .downloadFrom {
    padding: 0 20px;
  }

  .downloadFromPatfrom a img {
    width: 100%;
    max-width: calc(270 / 7 * 1vw);
    height: auto;
  }

  .downloadFrom {
    background-position: center;
    background-size: 120%;
  }

  .downloadFromBody {
    flex-direction: column;
    gap: 0;
  }
  .downloadFromImg {
    max-width: calc(370 / 7 * 1vw);
  }

  .downloadFromBodyText > p {
    max-width: 100%;

    font-size: clamp(16px, calc(40 / 7 * 1vw), 40px);
  }

  .downloadFromBodyText > div > p {
    max-width: 100%;
    font-size: calc(22 / 7 * 1vw);
    text-align: right;
  }

  .invationInStudyWrapperTitle > p {
    width: 100%;
    max-width: clamp(283px, calc(600 / 7 * 1vw), 600px);
    font-size: clamp(40px, calc(70 / 7 * 1vw), 70px);
    margin: 0 auto;
  }

  .invationInStudyWrapperTitleBody {
    flex-direction: column-reverse;
    gap: clamp(21px, calc(30 / 7 * 1vw), 30px);
    margin-top: -20px;
  }

  .invationInStudyWrapperTitleBody p {
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    font-size: clamp(12px, calc(18 / 7 * 1vw), 18px);
  }

  .invationInStudyWrapperTitleBody img {
    max-width: clamp(280px, calc(600 / 7 * 1vw), 600px);
    height: auto;
  }

  .invationInStudyWrapperCards {
    flex-direction: column;
  }

  .invationInStudyWrapperCards > .cardItem {
    width: 100%;
    max-width: clamp(200px, calc(550 / 7 * 1vw), 550px);
    height: auto;
    position: relative;
    z-index: 0;
  }

  .invationInStudyWrapperCards > img:nth-child(4),
  .invationInStudyWrapperCards > img:nth-child(7) {
    margin-top: clamp(-10px, calc(-15 / 7 * 1vw), -15px);
  }

  .connector {
    display: none;
  }

  .connectorGorizoltal {
    display: flex;
    width: 100%;
    max-width: clamp(200px, calc(300 / 7 * 1vw), 300px);
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: clamp(-10px, calc(-15 / 7 * 1vw), -15px);
  }

  .invationInStudyWrapperDescItem {
    gap: 20px;
    flex-direction: column-reverse;
  }

  .invationInStudyWrapperDescItem img {
    width: 100%;
    max-width: clamp(200px, calc(550 / 7 * 1vw), 550px);
    height: auto;
  }

  .invationInStudyWrapperDescItem p {
    max-width: 100%;
    font-size: clamp(20px, calc(28 / 7 * 1vw), 28px);
    text-align: center;
  }

  .invationInStudyWrapperDescItem p span {
    color: rgba(221, 255, 83, 1);
  }

  .ourProgramTitle p {
    font-size: clamp(40px, calc(128 / 14.4 * 1vw), 128px);
  }

  .ourProgramTitleTop::before,
  .ourProgramTitleBottom::before {
    content: "";
  }

  .ourProgramTitleTop::after {
    content: "наши";
    color: #f2ece7;
    -webkit-text-stroke: 1px #1a1a1a;
  }

  .ourProgramTitleBottom::after {
    content: "программы";
    color: rgba(219, 121, 226, 1);
    float: left;
  }

  .ourProgramBody {
    flex-direction: column;
  }

  .ourProgramBodyBox img {
    max-width: clamp(300px, calc(550 / 7 * 1vw), 550px);
  }

  .ourProgramBodyBox button {
    max-width: clamp(300px, calc(570 / 7 * 1vw), 570px);
    aspect-ratio: 420/112;
    border-radius: clamp(70px, calc(100 / 14.4 * 1vw), 100px);
  }

  .telegramChanelTitle {
    width: 100%;
    font-size: clamp(48px, calc(80 / 7 * 1vw), 80px);
    text-align: end;
    word-wrap: wrap;
  }

  .telegramChanelDesc {
    max-width: clamp(190px, calc(400 / 7 * 1vw), 400px);
    font-size: clamp(12px, calc(20 / 7 * 1vw), 20px);
  }

  .telegramChanelBody {
    padding-top: 0;
  }

  .telegramChanelBodyLeft {
    max-width: 100%;
    margin-top: -25px;
  }

  .telegramChanelBodyTop {
    flex-direction: column-reverse;
  }

  .telegramChanelBodyTop > img {
    max-width: clamp(154px, calc(180 / 7 * 1vw), 180px);
    margin-top: clamp(-180px, calc(-180 / 7 * 1vw), -130px);
    margin-right: clamp(-50px, calc(-50 / 14.4 * 1vw), -20px);
    margin-left: auto;
  }

  .telegramChanelBodyLeftText {
    font-size: clamp(16px, calc(26 / 7 * 1vw), 26px);
  }

  .telegramChanelBodyBottom button {
    max-width: clamp(271px, calc(400 / 7 * 1vw), 400px);
  }

  .sectionCarouselsWrapper > img {
    top: -5px;
    left: 0;
    right: 0;
  }

  .toBlogLinkFirst {
    display: none;
  }

  .toBlogLinkSecond {
    display: flex;
  }

  .blogDesk p {
    width: 100%;
    max-width: clamp(253px, calc(460 / 7 * 1vw), 460px);
    font-size: clamp(12px, calc(20 / 7 * 1vw), 20px);
  }
}
